<header class="header">
  <div class="navheader">
    <div class="log-text-container">
      <a href="/accueil"
        ><img
          class="logo-container"
          src="/assets/images/header/logo.gif"
          alt=""
      /></a>
      <!-- <h2 class="logo-text">in Technologie</h2> -->
    </div>
    <nav>
      <div class="nav-ul">
        <ul>
          <li><a id="lien1" href="/accueil">Accueil</a></li>
          <li><a id="lien2" href="/solutions">Nos Solutions</a></li>
          <li><a id="lien3" href="/projets">Projets</a></li>
          <li><a id="lien4" href="/a-propos">À propos</a></li>
          <!-- <li><a id="lien" href="/single-project?id=0">Single</a></li> -->
          <!-- <li><a id="lien5" href="/contact">Contact</a></li> -->
          <!-- <li><a href="#">Se connecter</a></li> -->
        </ul>
      </div>
      <div class="btn">
        <a id="lien6" class="rdv ctabtn" href="/rendez-vous">Rendez-Vous</a>
        <div class="langue">
          <a id="vector" href=""
            ><img src="/assets/images/header/Vector.png" alt=""
          /></a>
          <a id="en" href="">En</a>
        </div>
        <a id="lien7" href="/logIn">Se connecter</a>
      </div>
    </nav>
    <img
      src="/assets/images/header/Hamburger menu+.png"
      alt="icon"
      class="menu-hamburger"
    />
  </div>
</header>
