@media (min-width: 769px) {
  li {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 24px;
  }
  .rdv-barre {
    height: 100vh;
    align-items: center;
  }
  .rdv-barre .navigation {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
  }
  .rdv-barre .bar-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 132px;
  }
  .rdv-barre .bar-progress .cercle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bColor);
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
  }
  .rdv-barre .bar-progress .cercle img {
    width: 20px;
    height: 20px;
  }
  .rdv-barre .bar-progress .line {
    width: 55px;
    height: 3px;
    background-color: var(--bColor);
    border-radius: 100px;
  }
  .rdv2-2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width: 100%;
  }
  .montant-projet {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
  .montant-projet ul .option1,
  .montant-projet ul .option2,
  .montant-projet ul .option3,
  .montant-projet ul .option4,
  .montant-projet ul .option5,
  .montant-projet ul .option6,
  .montant-projet li .option1,
  .montant-projet li .option2,
  .montant-projet li .option3,
  .montant-projet li .option4,
  .montant-projet li .option5,
  .montant-projet li .option6 {
    border: 2px solid #b8b8b8;
    width: 24px;
    height: 24px;
    accent-color: var(--primary);
  }
  .montant-projet h3 {
    font-family: "Visby CF";
    font-style: normal;
    text-align: center;
    width: 187px;
    height: 37px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .montant-projet li {
    font-family: "Visby CF";
    font-style: normal;
    text-align: justify;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #242424;
  }
  #montant-perso {
    display: none;
  }
  #montant-perso input[type=text] {
    padding: 0px 12px;
    gap: 10px;
    width: 230px;
    height: 40px;
    background: #f4f4f4;
    border-radius: 8px;
    border: none;
  }
  .qst {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width: 100%;
    margin-top: 48px;
  }
  .qst li {
    font-family: "Visby CF";
    font-style: normal;
    text-align: justify;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #242424;
  }
  .qst h3 {
    font-family: "Visby CF";
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .rad-O-N ul {
    display: flex;
    flex-direction: row;
  }
  .rad-O-N li {
    margin: 10px;
  }
  .rad-O-N #RadioOn,
  .rad-O-N #RadioOff {
    border: 2px solid #b8b8b8;
    width: 24px;
    height: 24px;
    accent-color: var(--primary);
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btn #btn1 {
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    margin-right: 40px;
    padding: 8px 16px;
    width: 180px;
    height: 46px;
    border: 1px solid #383330;
    margin-bottom: 20%;
  }
  .btn #btn2 {
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 8px 16px;
    width: 180px;
    height: 46px;
    color: white;
    border: none;
    margin-bottom: 20%;
  }
  #divFinance {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #divFinance .btnFinancement {
    display: none;
    cursor: pointer;
    background-color: white;
    color: white;
    border-radius: 8px;
    margin-right: 40px;
    padding: 8px 16px;
    width: 200px;
    height: 60px;
    border: 1px solid #383330;
    margin: 18px;
  }
  #divFinance #img-desjardins {
    width: 96px;
  }
  #divFinance img {
    width: 122px;
  }
  .langue {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .langue img {
    height: 18px;
    width: 18px;
  }
  .langue #en {
    padding-left: 2px;
    padding-top: 2px;
  }
}
@media (max-width: 768px) {
  .rdv-barre {
    align-items: center;
    margin-bottom: 60px;
  }
  .rdv-barre .navigation {
    display: flex;
    justify-content: space-between;
    margin: 30px 4%;
  }
  .rdv-barre .navigation img {
    width: 30px;
  }
  .rdv-barre .bar-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .rdv-barre .bar-progress .cercle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bColor);
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
  }
  .rdv-barre .bar-progress .cercle img {
    width: 20px;
    height: 20px;
  }
  .rdv-barre .bar-progress .line {
    width: 25px;
    height: 3px;
    background-color: var(--bColor);
    border-radius: 100px;
  }
  li {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 24px;
  }
  .rdv2-2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width: 100%;
  }
  .montant-projet {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
  .montant-projet ul .option1,
  .montant-projet ul .option2,
  .montant-projet ul .option3,
  .montant-projet ul .option4,
  .montant-projet ul .option5,
  .montant-projet ul .option6,
  .montant-projet li .option1,
  .montant-projet li .option2,
  .montant-projet li .option3,
  .montant-projet li .option4,
  .montant-projet li .option5,
  .montant-projet li .option6 {
    border: 2px solid #b8b8b8;
    width: 24px;
    height: 24px;
    accent-color: var(--primary);
  }
  .montant-projet h3 {
    font-family: "Visby CF";
    font-style: normal;
    text-align: center;
    width: 187px;
    height: 37px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .montant-projet li {
    font-family: "Visby CF";
    font-style: normal;
    text-align: justify;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #242424;
  }
  #montant-perso {
    display: none;
  }
  #montant-perso input[type=text] {
    padding: 0px 12px;
    gap: 10px;
    width: 230px;
    height: 40px;
    background: #f4f4f4;
    border-radius: 8px;
    border: none;
  }
  .qst {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width: 100%;
    margin-top: 48px;
  }
  .qst li {
    font-family: "Visby CF";
    font-style: normal;
    text-align: justify;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #242424;
  }
  .qst h3 {
    font-family: "Visby CF";
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .rad-O-N ul {
    display: flex;
    flex-direction: row;
  }
  .rad-O-N li {
    margin: 10px;
  }
  .rad-O-N #RadioOn,
  .rad-O-N #RadioOff {
    border: 2px solid #b8b8b8;
    width: 24px;
    height: 24px;
    accent-color: var(--primary);
  }
  .btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .btn #btn1 {
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    padding: 8px 16px;
    width: 180px;
    height: 46px;
    border: 1px solid #383330;
  }
  .btn #btn2 {
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 8px 16px;
    width: 180px;
    height: 46px;
    color: white;
    border: none;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .btn #btn2:hover {
    background-color: var(--primary);
  }
  #divFinance {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #divFinance .btnFinancement {
    display: none;
    cursor: pointer;
    background-color: white;
    color: white;
    border-radius: 8px;
    margin-right: 40px;
    padding: 8px 16px;
    width: 200px;
    height: 60px;
    border: 1px solid #383330;
    margin: 18px;
  }
  #divFinance #img-desjardins {
    width: 96px;
  }
  #divFinance img {
    width: 122px;
  }
}
#bgSelector {
  background-color: var(--primary);
}

#retour {
  background-color: transparent;
  border: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.popup-overlay .popup-content {
  width: 321px;
  height: 285px;
  padding: 45px;
  background-color: white;
  border-radius: 10px;
}
.popup-overlay .popup-content p {
  font-size: 20px;
  font-weight: 400;
}
.popup-overlay .popup-content .selBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-overlay .popup-content .selBtn button {
  padding: 10px 45px;
  color: var(--txt-gray);
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--txt-gray);
  border-radius: 8px;
}
.popup-overlay .popup-content .selBtn button:hover {
  padding: 10px 45px;
  color: white;
  background-color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.langue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.langue img {
  height: 29px;
  width: 29px;
}
.langue #en {
  padding-left: 2px;
  padding-top: 2px;
  font-weight: 700;
}

/*# sourceMappingURL=rendez-vous3.css.map */
