<footer class="fotter-version-x">
  <div class="partie1 b1-bord">
    <div class="left-footer">
      <h3 class="ft1">Gardez une longueur d'avance</h3>
      <p class="ft2">
        Abonnez-vous pour découvrir nos offres avant tout le monde
      </p>

      <form id="newsletterForm">
        <input
          type="email"
          id="email"
          placeholder="adresse@courriel.com"
          required
        />
        <button type="submit" id="submitBouton" formnovalidate>
          <img
            src="/assets/images/Footer/FooterVy/Polygon_2.png"
            alt="Submit"
          />
        </button>
      </form>

      <!-- Social media icons -->
      <div class="imgIcone">
        <a
          href="https://www.facebook.com/technologiewin/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/images/Footer/FooterVx/facebook.png"
            alt="Facebook"
          />
        </a>
        <a
          href="https://www.linkedin.com/company/wintechnologie/mycompany/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/images/Footer/FooterVx/linkedin.png"
            alt="LinkedIn"
          />
        </a>
        <a
          href="https://ca.indeed.com/cmp/Win-Technologie?from=mobviewjob&tk=1i30ppck5mb1t809&fromjk=97a500fc472a3a8d&attributionid=mobvjcmp"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/images/Footer/FooterVx/simple-icons_indeed.png"
            alt="Indeed"
          />
        </a>
      </div>
    </div>

    <div class="middle-footer">
      <ul>
        <li><a class="ft3" href="/accueil">Accueil</a></li>
        <li><a class="ft4" href="/solutions">Nos Solutions</a></li>
        <li><a class="ft5" href="/projets">Projets</a></li>
        <li>
          <a class="singlePro" href="/single-project?id=0">Tim Hortons App</a>
        </li>
        <li>
          <a class="singlePro" href="/single-project?id=1">Impact App</a>
        </li>
        <li>
          <a class="singlePro" href="/single-project?id=3">Ma Micro App</a>
        </li>
        <li><a class="ft6" href="/a-propos">À propos</a></li>
        <!-- <li><a class="ft7" href="/contact">Contact</a></li> -->
      </ul>
    </div>

    <div class="right-footer">
      <ul>
        <li>
          <a class="ft8" href="/rendez-vous"><span>Rendez-vous</span></a>
        </li>
        <li><hr /></li>
        <li>
          <a href="/conditions">Conditions d'utilisation et notes légales</a>
        </li>
        <li><a href="/confidentialite">Confidentialité</a></li>
        <li><a href="/accessibilite">Accessibilité</a></li>
        <li><a href="/temoins">Personnaliser les témoins</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
  </div>

  <div class="partie1-1">
    <div>
      <h3>QUÉBEC</h3>
      <ul>
        <li><span>Complexe Jules Dallaire</span></li>
        <li>2828 Bd Laurier, Québec</li>
        <li>QC, J4Y OB6</li>
        <li>(416) 862-8138</li>
      </ul>
    </div>
    <div>
      <h3>BROSSARD</h3>
      <ul>
        <li><span>Quartier DIX30</span></li>
        <li>6000 Boul de Rome, Brossard</li>
        <li>QC, J4Y OB6</li>
        <li>(418) 575-4887</li>
      </ul>
    </div>
    <div>
      <h3>TORONTO</h3>
      <ul>
        <li><span>First Canadian Place</span></li>
        <li>100 King Street, Toronto</li>
        <li>ON, M5X 1C9</li>
        <li>(416) 862-8138</li>
      </ul>
    </div>
  </div>

  <div class="cpr">
    <p class="ft15">
      Win Technologie® et mettez vos idées en application® sont des marques
      déposées de Win Technologie Inc.
    </p>
  </div>
</footer>
