@use "../index.scss";

:root {
  color: var(--txt-black);
}

// main
.main {
  overflow: hidden;
  display: flex;
  width: 100vw;
  flex-direction: column;

  .content,
  .image {
    flex: 1;
  }

  .content {
    background: linear-gradient(0deg, #f1f1f1 0%, #fff 100%);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    gap: 3rem;
  }

  h1 {
    font-size: 3rem;
    color: var(--primary);
    font-weight: 700;
  }

  img {
    object-fit: cover;
    width: 100%;
    max-height: 550px;
  }

  @media (min-width: 768px) {
    max-height: 500px;
    flex-direction: row;
    padding: 0;

    .content,
    .image {
      flex: 1;
    }

    .content {
      background: linear-gradient(270deg, #f1f1f1 0%, #fff 100%);
      padding: 5rem;
      display: flex;
      flex-direction: column;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      gap: 3rem;
    }
    p {
      text-align: left;
    }
    .ctabtn {
      align-self: flex-start;
    }
    img {
    }
  }
}
