@media (min-width: 769px) {
  .grand-titre {
    p {
      padding-top: 120px;
      padding-bottom: 20px;
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
  }
  .faq {
    #title {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: auto;
    }
    .container-faq {
      margin-top: 95px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 5px 6px 5px;
        padding-bottom: 40px;
        width: 85%;
        margin-bottom: 200px;
        .visible-pannel {
          width: 85%;
          margin-top: 5px;
          background: linear-gradient(0deg, #fdfdfd 0%, #f9f9f9 100%);
          box-shadow: 1px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          z-index: 100;
          border-radius: 10px;
          padding-left: 10px;
          padding-right: 10px;
          span {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: black;
          }

          img {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }
        .toggle-pannel {
          width: 85%;
          background: linear-gradient(0deg, #fdfdfd 0%, #f9f9f9 100%);
          box-shadow: 1px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          opacity: 0;
          height: 0px;
          margin-top: 0;
          .q1 {
            font-weight: bold;
            font-size: 30px;
            color: black;
          }
        }
      }
    }
  }
}

//version mobile
@media (max-width: 768px) {
  .grand-titre {
    p {
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
  }
  .faq {
    // #title{
    // font-size: 16px;
    // font-style: normal;
    // font-weight: 600;
    // line-height: normal;
    // width: 1250px;
    // margin: auto;
    // }
    .container-faq {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .questions {
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 5px 6px 5px;
        padding-bottom: 40px;
        margin-bottom: 50px;

        .visible-pannel {
          width: 85%;
          margin-top: 5px;
          background: linear-gradient(0deg, #fdfdfd 0%, #f9f9f9 100%);
          box-shadow: 1px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          z-index: 100;
          border-radius: 10px;
          padding-left: 10px;
          padding-right: 10px;
          span {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: black;
          }

          img {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }
        .toggle-pannel {
          background: linear-gradient(0deg, #fdfdfd 0%, #f9f9f9 100%);
          box-shadow: 1px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          opacity: 0;
          max-height: 400px;
          width: 85%;
          margin-top: 0;
          .q1 {
            font-weight: bold;
            font-size: 25px;
            color: black;
          }
        }
      }
    }
  }
}
